.quote-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    .change-quote {
        margin-bottom: 30px;
        background-image: url("../../assets/svg/reload.svg");  
    }
      
    .quote {
        min-height: 32px;
    }
      
    .author {
        min-height: 20px;
    }
}